*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #0E0D12;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.itemUp{
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: space-around;
    gap: 2.25rem;
} 


.itemDown{
    align-items: center;
    text-align: center;
    display: flex;
    gap: 1rem;
    margin-top: 7.69rem;
}

#inputOne{
    border-radius: 0.25rem;
    background: #1E1D25;
    width: 11.125rem;
    height: 3.4375rem;
    border: none;
    padding-left: 1rem;
    color: #646378;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
}

#inputTwo{
    border-radius: 0.25rem;
    background: #1E1D25;
    width: 11.125rem;
    height: 3.4375rem;
    border: none;
    padding-left: 1rem;
    color: #646378;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
} 

.button{
    width: 10.6875rem;
    height: 3.0625rem;
    border-radius: 0.25rem;
    background: #3A6BF4;
    border: none;
    color: #FFF;
    font-family: Inter;
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
} 

h1{
    color: #FAFBFF;
    font-family: Inter;
    font-size: 3.27988rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

span{
    color: #3A6BF4;
    font-family: Inter;
    font-size: 3.27988rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

p{
    color: #FFF;
    font-family: Inter;
    font-size: 2.52631rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

@media (max-width:700px) {
    .itemUp{
        flex-direction: column;
        padding: 1rem;
        gap: 0rem;
    }

    .button{
        margin-top: 2rem;
    }

    h1{
       font-size: 2.5rem;
    }

    span{
        font-size: 2.5rem;
    }
}


